{% extends "layout.html" %}

{% block title %} Post {% endblock %}

{% block content %} 
	
	{% if action == 'update' %}

		<h2> Update Article </h2>

	{% else %}
	
		<h2> Post Article </h2>

	{% endif %}


	{% if action == 'update' %}

		<form method="post" action="{{ url_for('update',post_id = post.id ) }}">

	{% else %}

		<form method="post" action="{{ url_for('post') }}" >

	{% endif %}


	  {{ form.hidden_tag() }}

	  {{ form.title.label }}:<br>
	  {{ form.title }}
	  
	  <br><br>

	  {{ form.body.label }}:<br>
	  {{ form.body }} <br><br>


	  {{ form.category.label }}:<br>
	  {{ form.category }} <br><br>


	  {% if action == 'update' %}

	  	<input type="submit" value="Update">

	  {% else %}

	  	<input type="submit" value="Post">

	  {% endif %}

	  

	</form> 

{% endblock %}