{% extends "layout.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Post {% endblock %}

{% block content %} 


	<div class="row">
		
		<div class="col-6">


			 <br>
			{% if action == 'update' %}

				<H3>Edit Post</H3>

			{% else %}
			
				<H3>Create Post</H3>

			{% endif %}


			{% if action == 'update' %}

				<form method="post" action="{{ url_for('update',post_id = post.id ) }}">

			{% else %}

				<form method="post" action="{{ url_for('post') }}" >

			{% endif %}


			  {{ form.hidden_tag() }}

			  	<form method="post" action="{{ url_for('login')}}">

					  {{ form.hidden_tag() }}

					  {{ wtf.form_field(form.title)}}
					  {{ wtf.form_field(form.body) }}
					  {{ wtf.form_field(form.category)}}
					  {{ wtf.form_field(form.new_category)}}

					  <br>

					 {% if action == 'update' %}

					  	<input class="btn btn-primary" type="submit" value="Update">

					  {% else %}

					  	<input class="btn btn-primary" type="submit" value="Publish">

					  {% endif %}


				</form> 

				
		</div>


	</div>



	
	

{% endblock %}