{% extends "layout.html" %}

{% block title %} Post {% endblock %}

{% block content %} 


	
	{% if action == 'update' %}

		<H3>Edit Post</H3>

	{% else %}
	
		<H3>Create Post</H3>

	{% endif %}


	{% if action == 'update' %}

		<form method="post" action="{{ url_for('update',post_id = post.id ) }}">

	{% else %}

		<form method="post" action="{{ url_for('post') }}" >

	{% endif %}


	  {{ form.hidden_tag() }}

	  <dl>

	      <dt>{{ form.title.label }}:
	      <dd>{{ form.title }}

	      <dt>{{ form.body.label }}:
	      <dd>{{ form.body(cols="55", rows="10") }}

	      <dt>{{ form.category.label }}
	      <dd>{{ form.category }}


	      <dt>{{ form.new_category.label }}
	      <dd>{{ form.new_category }}

	   </dl>

	   <br>

	   <p>

	  {% if action == 'update' %}

	  	<input type="submit" value="Update">

	  {% else %}

	  	<input type="submit" value="Publish">

	  {% endif %}

	   
	</form> 

{% endblock %}