{% extends "layout.html" %}


{% block content %}
	
	<h1> {{ category }} </h1><hr>

	{% for post in posts.items %}

		{% if post.is_live %}

		<h3> <a href="{{ url_for('article', slug = post.slug) }}"> {{ post.title }} </a> </h3> 

		<strong> Posted by {{ post.author.name }} in {{ post.category.name }} on 

			{% if post.publish_date %}

				{{ post.publish_date }} 

			{% endif %}


		</strong> 

		<hr>

		{% endif %}

	{% endfor %}


	{% for page in posts.iter_pages() %}


		{% if page %}

			<a href="{{ url_for('category_wise_blog', category = category ,page = page)}}"> {{ page }} </a>

		{% else %}

			...

		{% endif %}


	{% endfor %}


{% endblock %}