{% extends "layout.html" %}


{% block title %} Read Posts {% endblock %}

{% block content %} 

	{% for post in posts.items %}

		<h3> <a href="{{ url_for('article', slug = post.slug) }}"> {{ post.title }} </a> </h3> 

		<strong> Posted by Harinder Singh in Python on 

			{% if post.publish_date %}

			{{ post.publish_date }} 

			{% endif %}


		</strong> 

		<hr>

	{% endfor %}


	{% for page in posts.iter_pages() %}
	          
		{% if page %}

			<a href="{{ url_for('index', page = page )}}"> {{ page }} </a>

		{% else %}

			...

		{% endif %}

	{% endfor %}
	

{% endblock %}