{% extends "layout.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %} About {% endblock %}

{% block content %}

	  <br>
	  <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Harinder
                        <span class="text-primary">Singh</span>
                    </h1>
                    <div class="subheading mb-5">
                        Toronto, ON · (437) 983-0748 ·
                        <a href="mailto:name@email.com">hrinder@gmail.com</a>
                    </div>
                    <p class="lead mb-5">  

                    	Eager Python Flask developer with 3+ years exploiting MVC architectural pattern of flask framework to shorten development times and reduce design costs. Specializes in creating accessible, data-driven web assets. Keen to apply expansive development knowledge to deliver fast and efficient projects.

                    </p>
                   
                    <div class="social-icons">
                        <a class="social-icon" href="https://github.com/hrindrsmaan"><i class="fab fa-github"></i></a>
                    </div>
                </div> <br>
            </section>
            <hr class="m-0" />
           
        </div>

{% endblock %}