<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <title> {% block title %} Flask Blog  {% endblock %} </title>

</head>

<body>

    <header class="site-header">

      <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

        <div class="container-fluid">

          <a class="navbar-brand mr-4" href="/"> Flask Blog </a>

          {% if session['user'] %}

            <form class="form-inline my-2 my-lg-0">

             
               <a class="navbar-brand mr-3 "  href="{{ url_for('admin') }}"> {{ session['user']}} </a>

               <a class="navbar-brand mr-3" href="{{ url_for('post') }}">Create</a>

               <a class="navbar-brand mr-3" href="{{ url_for('logout') }}">Logout</a>
            </form>

          {% else %}

           <form class="form-inline my-2 my-lg-0">

              <a class="navbar-brand mr-3" href="{{ url_for('login') }}">Login</a>
              <a class="navbar-brand mr-3" href="{{ url_for('setup') }}">SignUp</a>
           </form>

          {% endif %}

        </div>

      </nav> -->
    </header>

     <nav class="navbar navbar-expand-sm  navbar-dark bg-dark " >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown dmenu">
           
           
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          
          
          </ul>

          <div class="social-part">

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

              {% if session['user'] %}

                 <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin')}}"> {{ session['user'] }} </a>
                  </li>

                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('post')}}">New Post</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('logout')}}">Logout</a>
                </li>


              {% else %}

                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('login')}}">Login</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('setup')}}">Sign Up</a>
                </li>

              {% endif %}

              
           
           </ul>

          </div>

        </div>
    </nav>




    <main role="main" class="container pt-3 ">

      <div class="row">

        <div class="col-md-10">

          {% block content %}

           
          {% endblock %}

        </div>


        {% if session['user'] %}




          <div class="col-md-2">

              <div class="">
                <br>
                <h3> Categories </h3> <p>

                <p class='text-muted'>

                    {% for category in categories %}
 
                          <a href="{{ url_for('category_wise_blog', category = category.name)}}"> {{ category.name }} </a> <p>

                    {% endfor %}

                </p>

              </div>

            </div>

          

        {% else %}


        {% endif %}

      </div>

    </main>






   
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>