{% extends "layout.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %} 808 JINJA MIDI DRUM KIT {% endblock %}


{% block content %}
	

	<br>
	<div class="row">
		
		<div class="col-sm-12 border bg-white">

				<br>

				<H3>PYTHON MIDI KIT</H3><p>

				<p> This MIDI kit Includes </p>
				<p> 5 808 Midis </p>
				<p> 5 Hi-Hats Midis </p>
				<p> 3 Snare Midis </p>
				<p> 3 Percusion Midis </p>

				<p> 808 MAFIA STYLE, MURDA BEATZ</p>

				<strong> PRICE = $3 </strong>

				<br><br>

			    
				<br><br>

				
		</div>
		<br><br>


	</div>

	<br><br><br><br><br><br><br><br><br><br><br><br><br>


{% endblock %}

